 .task-card {   
    background-color: aquamarine;
    border-radius: 12px; 
    display: grid;
    grid-template-columns: 1fr 100px;
    padding-left: 2%;
 }  

  .catcard{
    display: grid;
    grid-template-columns: 1fr 100px;
    padding-left: 2%;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
  }

 .taskboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
 }
 
 .taskdiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
 }
 
  #container {
    display: grid;
    grid-auto-rows: 40px;
    row-gap: 8px;
  }

 #popup {
   visibility: hidden;
   position: fixed;
   height: 70vh;
   width: 50vw;
   top: 15dvh;
   left: 50dvb;
   background-color: aqua;
   border-radius: 5%;
 }

 #popup-title {
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 #popup-desc {
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, 0);
 }

 #closepopup {
   position: absolute;
   top: 80%;
   left: 46%;
   width: max(8%, 50px);
   height: 6%;
   border-radius: 30%;
 }
 #deleteTask{
   position: absolute;
   top: 70%;
   left: 46%;
   width: max(8%, 50px);
   height: 6%;
   border-radius: 30%;
 }

